# Toronto Neighborhoods Assignment (2)

### Heriberto Encinas LÃ³pez

## Getting Longitude and Latitude values

In this section we will get the longitude and latitude values for each postal code from our final dataset

#### Import the relevan libraries

In [1]:
#first we import the libraries we need
import pandas as pd
import requests
from bs4 import BeautifulSoup
import lxml

#### Load both data files

In [2]:
#first we load the given Geospatial_Coordinates.csv file
coord = pd.read_csv('Geospatial_Coordinates.csv')
coord.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [3]:
#now we load our dataset
pbndata = pd.read_csv('pbn_dataset.csv')
pbndata.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Malvern, Rouge
1      M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2      M1E  Scarborough       Guildwood, West Hill, Morningside
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

#### Build the final dataset

In [4]:
#we create a dataframe that will contain all the data
df = pd.DataFrame(columns=['Postal Code','Borough','Neighbourhood','Latitude','Longitude'])
df.head()

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood, Latitude, Longitude]
Index: []

In [5]:
#we insert the data
df['Postal Code'] = pbndata['Postcode']
df['Borough'] = pbndata['Borough']
df['Neighbourhood'] = pbndata['Neighbourhood']
df['Latitude'] = coord['Latitude']
df['Longitude'] = coord['Longitude']

df.head(10)

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, West Hill, Morningside",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"Kennedy Park, Ionview, East Birchmount Park",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea, Oakridge, Golden Mile",43.711112,-79.284577
8,M1M,Scarborough,"Scarborough Village West, Cliffside, Cliffcrest",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848

In [6]:
#we save this dataset
df.to_csv('final_dataset.csv',index=False)